<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbarand-lg bg-body-tertiary">
    <a class="navbar-brand" href="#">Navbar</a>
        <li class="nav-item">
          <a class="nav-link active" aria-cursrent="page" href="#">Home</a>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
    <meta charset="UTF-8">
    <meta name="viewport" content="width"=devide-width, initial-scale=1>
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        nav a {
            color: #161515;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none
        }
    </style>
</head>
<body>
    <nav>
        <a href="#">Dirty air done dirt cheap</a>
        <a href="#">About</a>
    </nav>
    <hr>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>